<a href="{{link}}" class="mainlink" target="_blank">
  <h3>
    {{title}}
    {{#subtitle}}
      <span class="subtitle">
        &ndash; {{subtitle}}
      </span>
    {{/subtitle}}
    {{#author}}
      <span class="song-owner-chip">
        {{author}}
      </span>
    {{/author}}
  </h3>
  <div class="rawurl underline-on-hover">
    {{link}}
  </div>
</a>
